.catBox {
    background-color: #ededed;
    border-radius: 10px;
    padding-top: 50px;
    width: 400px;
    margin: 5px auto!important
}

.cattributes {
    padding: 25px;
    background-color: #ededed;
    border-radius: 10px;
    width: 400px;
    height: 525px;
    margin: 5px auto!important;
    overflow-y: scroll;

}
.cattributes::-webkit-scrollbar {
    display: none;
}

.dnaDiv {
    text-align: center;
    margin: 25px auto;

}
